In [2]:
# imports

import pandas as pd
import re
import duckdb
import sys
import os
import matplotlib.pyplot as plt
import seaborn as sns
import mplcursors

In [3]:
# define directories

analytics_dir = os.getcwd()
os.chdir("..")
root_dir = os.getcwd()

In [ ]:
def clean_metro_data(line):
    # Match the first two tab-separated elements: station name and ID (e.g., A12)
    match = re.match(r'^([^\t]+)\t([A-Z]\d{2})', line)
    if match:
        return f"{match.group(1)}\t{match.group(2)}"
    return None

# Example
lines = [
    "Franconia–Springfield	J03	June 29, 1997			Virginia Railway Express",
"Southern terminus",
"Van Dorn Street	J02	June 15, 1991			",
"King Street–Old Town	C13	December 17, 1983			Amtrak Virginia Railway Express at Alexandria Union Station",
"Transfer station for the Yellow Line (southern)",
"Braddock Road	C12		",
"Potomac Yard	C11	May 19, 2023			Infill station",
"National Airport	C10	July 1, 1977			",
"Crystal City	C09			Virginia Railway Express Manassas Line, Fredericksburg Line",
"Pentagon City	C08			",
"Pentagon	C07			Built as a multi-level station due to geographic constraints, with trains heading south towards Huntington (Yellow Line) and Franconia–Springfield (Blue Line) on the lower level, and trains heading north towards Mount Vernon Square (Yellow Line) and Largo (Blue Line) on the upper level.",
"Arlington Cemetery	C06			",
"Rosslyn	C05		 	Another multi-level station. Transfer station for the Orange and Silver Lines to join on same track",
"Foggy Bottom–GWU	C04		",
"Farragut West	C03		Out of station interchange (OSI) to the Red Line's Farragut North station, which is located just one block away. There have been proposals to connect up the two stations through an underground passageway, though it has not been financed.",
"McPherson Square	C02		",
"Metro Center	C01		  	Transfer station for the Red Line",
"Federal Triangle	D01		 	",
"Smithsonian	D02		",
"L'Enfant Plaza	D03		   	Virginia Railway Express at L'Enfant",
"Transfer station for the Green and Yellow Lines",
"Federal Center SW	D04		 	",
"Capitol South	D05		",
"Eastern Market	D06		",
"Potomac Avenue	D07		",
"Stadium–Armory	D08		Transfer station for the Orange Line",
"Benning Road	G01	November 22, 1980			",
"Capitol Heights	G02		",
"Addison Road	G03		",
"Morgan Boulevard	G04	December 18, 2004		",
"Largo	G05"
]
pre_cleaned = [clean_metro_data(line) for line in lines]

def clean_station_lines(lines):
    cleaned = []
    for line in lines:
        if line:
            # Match station name + ID, ignoring tabs and multiple spaces
            match = re.match(r'^(.*?)\s+([A-Z]\d{2})\b', line.strip())
            if match:
                station, code = match.groups()
                cleaned.append(f"{station},{code},blue")
    return cleaned

# Process
lines = []
for line in pre_cleaned:
    if line:
        lines.append(line.strip().splitlines())
cleaned_lines = clean_station_lines(pre_cleaned)

# # Output
# for line in cleaned_lines:
#     print(line)

import csv

with open("source_files/cleaned_stations.csv", "a", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["Station Name", "Station ID", "Metroline"])
    for line in cleaned_lines:
        writer.writerow(line.split(","))

In [23]:
# os.chdir("..")
with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql("from stg_ridership;").df()

In [24]:
raw.head()

,ridership_key,ent_station,ext_station,ent_time_period,day_type,riders,trip_length
0,ba08dc9fc4c2477de67bd000e38f6c9e,addison road,addison road,AM Peak,weekday,7.772727,0
1,28074a97ee94dba0bcd953f03a70bef2,addison road,anacostia,AM Peak,weekday,10.363636,11
2,4ee1ff0188c3548f94b23b52837f84e9,addison road,archives,AM Peak,weekday,35.181818,9
3,472fd9c4b9ec742cc4cedb76ed680e40,addison road,arlington cemetery,AM Peak,weekday,0.409091,10
4,94c8218592bf00604b72dcb315ae0776,addison road,ballston-mu,AM Peak,weekday,22.727273,15

In [8]:
entry_df = raw.groupby(['ext_station', 'day_type']).agg({'riders':'sum'}).reset_index(drop=False)

In [13]:
entry_df[entry_df['ext_station'].str.contains('federal triangle')].head()

         ext_station  day_type       riders
87  federal triangle  saturday  2954.750000
88  federal triangle    sunday  2805.250000
89  federal triangle   weekday  9706.284091

In [32]:
with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql("from mart__exit_volume_by_station_and_period;").df()

In [ ]:
sns.catplot(
    x="day_type",
    y="sum_exits",
    data=raw,
    hue="station",
    kind="point",
    errorbar=None
)
plt.show()

In [ ]:


# Create the catplot
g = sns.catplot(
    x="day_type",
    y="sum_exits",
    data=raw,
    hue="station",
    kind="point",
    errorbar=None
)
ax = g.ax

# Function to format annotation text
def get_text_func(index):
    category = raw['day_type'].iloc[index]
    value = raw['sum_exits'].iloc[index]
    return f'Category: {category}\nValue: {value}'

# Create cursor and connect to event
cursor = mplcursors.cursor(hover=True)
cursor.connect("add", lambda sel: sel.annotation.set_text(get_text_func(sel.index)))

# Show the plot
plt.show()

In [ ]:
with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql("from mart__entry_volume_by_station_and_period where station = 'federal triangle';").show()

┌──────────────────┬──────────┬────────────┬────────────────────┬────────────────────┬─────────────────────────┬───────────────────────────────────────────┐
│     station      │ day_type │ trip_time  │  average_entries   │    sum_entries     │ trips_from_this_station │ average_number_of_stops_from_this_station │
│     varchar      │ varchar  │  varchar   │       double       │       double       │          int64          │                  double                   │
├──────────────────┼──────────┼────────────┼────────────────────┼────────────────────┼─────────────────────────┼───────────────────────────────────────────┤
│ federal triangle │ saturday │ AM Peak    │           0.734375 │              35.25 │                      48 │                         6.916666666666667 │
│ federal triangle │ saturday │ Evening    │  8.764880952380953 │             736.25 │                      84 │                        7.2976190476190474 │
│ federal triangle │ saturday │ Midday     │  8.619047619047619 │              724.0 │                      84 │                         7.357142857142857 │
│ federal triangle │ saturday │ PM Peak    │  20.13953488372093 │             1732.0 │                      86 │                         7.337209302325581 │
│ federal triangle │ sunday   │ AM Peak    │           0.859375 │               27.5 │                      32 │                                   7.34375 │
│ federal triangle │ sunday   │ Evening    │             5.8125 │             441.75 │                      76 │                         7.355263157894737 │
│ federal triangle │ sunday   │ Midday     │ 13.091463414634147 │             1073.5 │                      82 │                         7.219512195121951 │
│ federal triangle │ sunday   │ PM Peak    │ 17.011627906976745 │             1463.0 │                      86 │                         7.337209302325581 │
│ federal triangle │ weekday  │ AM Peak    │  2.503246753246754 │ 210.27272727272737 │                      84 │                                      7.25 │
│ federal triangle │ weekday  │ Evening    │ 13.191860465116276 │ 1134.4999999999998 │                      86 │                         7.337209302325581 │
│ federal triangle │ weekday  │ Midday     │ 19.661733615221994 │ 1690.9090909090914 │                      86 │                         7.337209302325581 │
│ federal triangle │ weekday  │ PM Peak    │   77.5280126849894 │  6667.409090909089 │                      86 │                         7.337209302325581 │
│ federal triangle │ weekday  │ late_night │ 0.7291666666666666 │               52.5 │                      72 │                         7.555555555555555 │
├──────────────────┴──────────┴────────────┴────────────────────┴────────────────────┴─────────────────────────┴───────────────────────────────────────────┤
│ 13 rows                                                                                                                                        7 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [41]:
query = """with
weekdays as (
    SELECT
        ext_station,
        day_type,
        ent_time_period,
        sum(riders) as sum_riders
    FROM MART__RIDERSHIP_ENRICHED
    WHERE day_type = 'weekday'
        AND ent_time_period <> 'late_night'
    GROUP BY 1,2,3
),
weekends as (
    SELECT
        ext_station,
        ent_time_period,
        sum(riders) as sum_riders
    FROM MART__RIDERSHIP_ENRICHED
    WHERE day_type IN ('saturday', 'sunday')
        AND ent_time_period <> 'late_night'
    GROUP BY 1,2
),

weekday_weekend_ratio as (
    SELECT
        wd.ext_station as exit_station,
        wd.ent_time_period as time_of_day,
        wd.sum_riders as weekday_exits,
        we.sum_riders as weekend_exits,
        wd.sum_riders / we.sum_riders as weekday_to_weekend_ratio
    FROM weekdays as wd
    LEFT JOIN weekends as we
        ON wd.ext_station = we.ext_station
        AND wd.ent_time_period = we.ent_time_period
    ORDER BY weekday_to_weekend_ratio DESC
)

SELECT * FROM weekday_weekend_ratio;"""

with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql(query).show()

┌────────────────────┬─────────────┬────────────────────┬───────────────┬──────────────────────────┐
│    exit_station    │ time_of_day │   weekday_exits    │ weekend_exits │ weekday_to_weekend_ratio │
│      varchar       │   varchar   │       double       │    double     │          double          │
├────────────────────┼─────────────┼────────────────────┼───────────────┼──────────────────────────┤
│ federal center sw  │ AM Peak     │ 13604.863636363636 │        581.25 │       23.406217008797654 │
│ farragut west      │ AM Peak     │  46493.18181818181 │        2299.5 │        20.21882227361679 │
│ medical center     │ AM Peak     │ 11187.409090909088 │         604.5 │       18.506880216557633 │
│ pentagon           │ AM Peak     │ 20861.999999999993 │       1143.75 │       18.239999999999995 │
│ mcpherson square   │ AM Peak     │  33556.36363636364 │       2142.75 │       15.660419384605595 │
│ judiciary square   │ AM Peak     │  19546.09090909091 │       1265.25 │       15.448402220186455 │
│ farragut north     │ AM Peak     │  50261.18181818184 │       3266.25 │       15.388038826844802 │
│ l'enfant plaza     │ AM Peak     │  39430.36363636365 │        3267.0 │       12.069287920527593 │
│ noma gallaudet u   │ AM Peak     │ 10636.363636363636 │        1159.5 │        9.173232976596495 │
│ capitol south      │ AM Peak     │  13501.77272727272 │        1528.5 │        8.833348202337403 │
│       ·            │    ·        │          ·         │           ·   │                ·         │
│       ·            │    ·        │          ·         │           ·   │                ·         │
│       ·            │    ·        │          ·         │           ·   │                ·         │
│ navy yard ballpark │ Evening     │  2260.636363636364 │       6047.25 │        0.373828825273697 │
│ arlington cemetery │ PM Peak     │ 1232.7272727272723 │        3421.5 │       0.3602885496791677 │
│ smithsonian        │ Midday      │ 15407.590909090904 │      48209.25 │        0.319598228744295 │
│ cleveland park     │ Midday      │ 2528.4545454545464 │       8042.25 │       0.3143964121302554 │
│ eastern market     │ Midday      │ 3896.1818181818176 │      13193.25 │       0.2953163032749184 │
│ arlington cemetery │ AM Peak     │  908.5909090909095 │        3255.0 │      0.27913699204021797 │
│ woodley park       │ Midday      │  5552.999999999999 │      20922.75 │       0.2654048822454027 │
│ arlington cemetery │ Midday      │ 2921.5909090909086 │       11982.0 │      0.24383165657577272 │
│ navy yard ballpark │ Midday      │  4140.818181818183 │      25203.75 │      0.16429373334595776 │
│ stadium armory     │ Midday      │ 1891.0909090909083 │       12403.5 │      0.15246429710089154 │
├────────────────────┴─────────────┴────────────────────┴───────────────┴──────────────────────────┤
│ 344 rows (20 shown)                                                                    5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────┘

In [42]:
query = """with
weekdays as (
    SELECT
        ent_station,
        day_type,
        ent_time_period,
        sum(riders) as sum_riders
    FROM MART__RIDERSHIP_ENRICHED
    WHERE day_type = 'weekday'
        AND ent_time_period <> 'late_night'
    GROUP BY 1,2,3
),
weekends as (
    SELECT
        ent_station,
        ent_time_period,
        sum(riders) as sum_riders
    FROM MART__RIDERSHIP_ENRICHED
    WHERE day_type IN ('saturday', 'sunday')
        AND ent_time_period <> 'late_night'
    GROUP BY 1,2
),

weekday_weekend_ratio as (
    SELECT
        wd.ent_station as entrance_station,
        wd.ent_time_period as time_of_day,
        wd.sum_riders as weekday_entrances,
        we.sum_riders as weekend_entrances,
        wd.sum_riders / we.sum_riders as weekday_to_weekend_ratio
    FROM weekdays as wd
    LEFT JOIN weekends as we
        ON wd.ent_station = we.ent_station
        AND wd.ent_time_period = we.ent_time_period
    ORDER BY weekday_to_weekend_ratio DESC
)

SELECT * FROM weekday_weekend_ratio;"""

with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql(query).show()

┌──────────────────────┬─────────────┬────────────────────┬───────────────────┬──────────────────────────┐
│   entrance_station   │ time_of_day │ weekday_entrances  │ weekend_entrances │ weekday_to_weekend_ratio │
│       varchar        │   varchar   │       double       │      double       │          double          │
├──────────────────────┼─────────────┼────────────────────┼───────────────────┼──────────────────────────┤
│ west falls church    │ AM Peak     │  20448.27272727272 │           1301.25 │       15.714330626146182 │
│ union station        │ AM Peak     │  29135.18181818181 │           3153.75 │        9.238266133390981 │
│ cleveland park       │ AM Peak     │  6987.545454545456 │            782.25 │         8.93262442255731 │
│ pentagon             │ AM Peak     │ 19437.136363636368 │            2218.5 │        8.761386686335978 │
│ largo                │ AM Peak     │  9801.409090909086 │           1161.75 │        8.436762720816946 │
│ grosvenor strathmore │ AM Peak     │ 11316.954545454551 │            1350.0 │        8.382929292929298 │
│ morgan boulevard     │ AM Peak     │  3705.954545454546 │            456.75 │        8.113748320644874 │
│ clarendon            │ AM Peak     │  5421.272727272726 │             679.5 │        7.978326309452136 │
│ branch avenue        │ AM Peak     │ 14485.363636363634 │           1842.75 │       7.8607318607318595 │
│ greenbelt            │ AM Peak     │ 12140.999999999998 │            1605.0 │         7.56448598130841 │
│     ·                │    ·        │                ·   │               ·   │                 ·        │
│     ·                │    ·        │                ·   │               ·   │                 ·        │
│     ·                │    ·        │                ·   │               ·   │                 ·        │
│ east falls church    │ Evening     │              847.5 │            2215.5 │       0.3825321597833446 │
│ vienna               │ Midday      │  5773.363636363637 │          16184.25 │       0.3567272895786729 │
│ woodley park         │ PM Peak     │  5823.681818181821 │          18134.25 │       0.3211426895615656 │
│ branch avenue        │ PM Peak     │ 1740.9545454545453 │           5768.25 │       0.3018167633952317 │
│ fort totten          │ Evening     │ 1929.9545454545446 │           6407.25 │      0.30121417854064453 │
│ fort totten          │ Midday      │  4940.999999999998 │          16593.75 │      0.29776271186440667 │
│ arlington cemetery   │ Midday      │   2814.40909090909 │            9600.0 │      0.29316761363636357 │
│ arlington cemetery   │ PM Peak     │  1929.136363636363 │            7044.0 │        0.273869444014248 │
│ east falls church    │ Midday      │ 1977.9545454545453 │           7890.75 │       0.2506674961764782 │
│ stadium armory       │ Evening     │ 1094.3181818181813 │           10696.5 │      0.10230619191494239 │
├──────────────────────┴─────────────┴────────────────────┴───────────────────┴──────────────────────────┤
│ 344 rows (20 shown)                                                                          5 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [30]:
query = """
    SELECT
        ext_station,
        any_value(day_type),
        ent_time_period,
        sum(riders) as sum_riders
    FROM MART__RIDERSHIP_ENRICHED
    WHERE day_type IN ('saturday', 'sunday')
        AND ent_time_period <> 'late_night'
        AND ext_station = 'federal triangle'
    GROUP BY 1,3
"""

with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql(query).show()

┌──────────────────┬─────────────────────┬─────────────────┬────────────┐
│   ext_station    │ any_value(day_type) │ ent_time_period │ sum_riders │
│     varchar      │       varchar       │     varchar     │   double   │
├──────────────────┼─────────────────────┼─────────────────┼────────────┤
│ federal triangle │ sunday              │ Midday          │    10305.0 │
│ federal triangle │ sunday              │ PM Peak         │     3151.5 │
│ federal triangle │ saturday            │ AM Peak         │    3011.25 │
│ federal triangle │ sunday              │ Evening         │     812.25 │
└──────────────────┴─────────────────────┴─────────────────┴────────────┘

In [38]:
query = """
    SELECT
        ext_station,
        day_type,
        ent_time_period,
        sum(riders) as sum_riders
    FROM MART__RIDERSHIP_ENRICHED
    WHERE day_type IN ('saturday', 'sunday')
        AND ent_time_period <> 'late_night'
        AND ext_station = 'federal triangle'
    GROUP BY 1,2,3
"""

with duckdb.connect(root_dir + "/metro_analytics_dbt/dev.duckdb") as con:
    raw = con.sql(query).show()

┌──────────────────┬──────────┬─────────────────┬────────────┐
│   ext_station    │ day_type │ ent_time_period │ sum_riders │
│     varchar      │ varchar  │     varchar     │   double   │
├──────────────────┼──────────┼─────────────────┼────────────┤
│ federal triangle │ sunday   │ PM Peak         │    1329.75 │
│ federal triangle │ saturday │ AM Peak         │     1218.0 │
│ federal triangle │ saturday │ PM Peak         │    1821.75 │
│ federal triangle │ sunday   │ AM Peak         │    1793.25 │
│ federal triangle │ sunday   │ Evening         │     285.75 │
│ federal triangle │ saturday │ Evening         │      526.5 │
│ federal triangle │ sunday   │ Midday          │     5007.0 │
│ federal triangle │ saturday │ Midday          │     5298.0 │
└──────────────────┴──────────┴─────────────────┴────────────┘